body
	{
		background:#F9F9F9;
		font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
		font-style: normal;
		font-weight: normal;
	}
.top-menu, .main-menu{background:#19242f;border-radius: 0;margin: 0;}
.top-menu{padding:20px;}
.main-menu{border-top: 1px solid #202023;}
.main-menu ul li{padding:0px 40px;}
#myNavbar .active a{background:#19242f;}
.top-menu p{padding-top:23px;color:#fff;}
.top-menu p a{text-decoration:none;color:#fff;}
.logo{padding: 0px 13px;margin-left: 0px!important;padding: 0px 65px 0px;}
.logo img{max-width: 75%;}
.number{padding-left:0;}
.footer{background-image:url('../images/map.svg');}
.footer .foot-first{padding: 30px 0px 15px 0px;}
.footer .foot-first ul li{padding:6px 0px;}
.footer ul,p{padding: 0;text-align: left;}
.footer ul li{list-style:none;}
.footer ul li a{text-decoration:none;color:#999;font-size: 14px;font-weight: 300;}
.footer ul li a:hover{color:#fff;}
.footer #social-follow{text-align: center;padding: 0px 23px;}
.footer .footer-menu{text-align: center;padding: 0px 23px;}
.footer .footer-menu li{display:inline;padding: 0px 30px 0px;}
.copyright{padding: 15px 0px;}
.copyright p{text-align:center;}
.footer 
{
   /*position: fixed;*/
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#151D21;
   color: white;
   text-align: center;
   margin-top: 10px;
}
.right-links
{
	float: none!important;
    margin-right: 0px;
}
.right-links li{padding: 15px;}
.right-links .sign-in a
{
	background: #2a343f;
    border-radius: 3px;
    height: 40px;
    width: 121px;
    padding: 10px 15px;	
}
.right-links .sign-in a:hover
{
	background-color:#151D21;
	outline: 0.2px solid #999;
}
.right-links .sign-up a
{
	background: #2a343f;
    border-radius: 3px;
    height: 40px;
    width: 121px;
    padding: 10px 30px;
}
.right-links .sign-up a:hover
{
	background-color:#151D21;
	outline: 0.2px solid #999;
}


.thumbnail1{padding: 4px;}
.img-div{padding: 4px;}
.img-div a{color:#fff;text-decoration:none;}
.thumbnail1 a{text-decoration:none;color:#fff;}
@media only screen and (max-width: 768px) 
{
    /* For mobile phones: */
	.thumbnail1 img
     {
        height: auto!important;
		
     }
	 
	 .right-links 
	{
		display:none;
	}
	.logo
	{
		position: relative;
		/* left: 24%; */
		padding: 0px 13px;
	}
	.logo img 
	{
		max-width: 60%;
		position: relative;
		bottom: 0.5em;
		display:none;
	}
	
	{background:#fff;}
	.collections img{width:100%!important;height: 226px!important;}
	#mobile-menu{display:block!important;}
	#mobile-menu .sign-in a 
	{
		background: #2a343f;
		border-radius: 3px;
		height: 40px;
		width: 121px;
		padding: 10px 15px;
		margin: 0px 0px 20px 0px;
	}
	#mobile-menu .sign-up a 
	{
		background: #2a343f;
		border-radius: 3px;
		height: 40px;
		width: 121px;
		padding: 10px 30px;
		margin: 0px 0px 0px 0px;
	}
	.top-menu{border:none!important;}
	.top-menu p{display:none;}
	.main-menu
	{
		float: left;
		position: fixed;
		top: 0;
		/*bottom: 16em;*/
		border: none;
		z-index: 1;
	}
	.mobile-logo
	{
		display:inline-block!important;
		max-width: 37%;
		padding: 11px 8px 3px 3px;
	}
	
	#mobile-search-icon
	{
		display: inline-block!important;
		font-size: 19px;;
		position: relative;
		top: 0px;
		color: #fff;
		border: none;
	}

	.fixed{background: transparent!important;
    z-index: 0!important;}
	.footer .footer-menu li
	{
		display: block;
	}
	.social{padding:10px 0px!important;}
	.social a{padding:0px 16px!important;}
	.desktop-list{display:none!important;}
	.mobile-list
	{
		display: inline-block!important;padding-bottom: 20px;
		display: none;
		color: #fff;
		font-size: 18px;
	}
	#form-col{display:none;}
	#myNavbar
	 {
    position: relative!important;
    top: 0;
	border: none;
    left: 0;
    z-index: 1;
    height: 100%;
	background:#19242f!important;
	
}
	.offer-cols{padding:0px 0px!important;}
	.thumbnail1,.img-div{padding: 4px 0px;}
	.mobile-padding
	{
		padding-right: 7px;
		padding-left: 7px;
		padding-top: 6px;
	}
	.view
	{
		width:100%;
	}
	.search-form{display:block!important;}
	.search-btn
	{
		width: 100%;
		padding: 11px 19px!important;
		margin: 8px 0px;
		background: #1A8755!important;
		border-color: #1A8755!important;
	}
	.filters-div{text-align: left!important;padding:0;}
	.filters li {
		
		font-size: 16px!important;
    	padding: 15px 13px!important;
	}

	#form-col2{display:none!important;}
	.facilities-row ul li
	{
		display:inline-block!important;
		padding: 12px 0px;
	}
	
	.name_banner 
	{
		position: relative!important;
		bottom: 2em!important;
		font-size: 20px!important;
		color: #fff!important;
		padding: 0px 0px!important;
		left: 6px!important;
	}
	
	.price-banner {
    float: right!important;
    position: relative!important;
    bottom:2.4em!important;
    right: 1em!important;
    font-size: 16px!important;
    color: #fff!important;
    background: rgba(105, 105, 105, .5)!important;
    padding: 3px 7px!important;
}
	.new_fixed
	{   position: fixed!important;
		top: 60px!important;
		z-index: 1;
		width: 100%;
		border: none!important;
	}
	#myNavbar3 li
	{
		padding:0px!important;
		display:inline-block;
	}
	
	#myNavbar3 li.active a:after 
	{
	  top: 19px!important;
	  left: 50%;
	  border: solid transparent;
	  content: " ";
	  height: 0;
	  width: 0;
	  position: absolute;
	  pointer-events: none;
	  border-color: rgba(136, 183, 213, 0);
	  border-top-color: #fff;
	  border-width: 10px;
	  margin-left: -10px;
	  transform: rotate(178deg);
	} 
	#myNavbar3 .active a{padding:0!important;}
	#myNavbar3 li.active a:after
	{
		top: 39px;
	}
	.view
	{
		padding: 15px 98px!important;
	}
}

/*mobile css ends here*/

.centered{
	left: 20%;
    text-align: center;
    width: 61%;
	position: absolute;
    top: 42%;
    font-size: 25px;
	text-transform:uppercase;
	}
.single
{
	margin:40px 0px 0px;
	padding: 0px 6%;
}

.patch
{
	position: absolute;
    top: 5%;
    left: 3.1%;
    font-size: 18px;
    text-transform: uppercase;
    background: #000;
    padding: 10px 15px;
    color: #fff;
}
.short-info
{border-top:1px solid grey;border-bottom:1px solid grey;}
.short-info h4{color: #999;
    line-height: 24px;
    font-size: 14px;
	cursor:pointer;}

.view a{color:#fff;text-decoration: none;}
.quick-view a{text-decoration: none;color:grey;}


.text-info{padding:25px 0px;}
.guarantee{color:#740316;cursor:pointer;}

.social-row{background:#151B1F;border-bottom:1px solid #545252;}
.social{padding: 17px 0px;}
.social a{padding: 0px 21px;color:#fff;}
.footer-menu-row{background:#1E262B;padding:20px 0px;border-bottom:1px solid #545252;}
.collections img{width:100%;height: 226px;}

.button-row{margin: 3% 0%;}

.show_all
{
	background: #730315;
    color: #fff;
    text-transform: capitalize;
    font-size: 13px;
    padding: 13px 31px;
    border-radius: 0px;
	border-color:#730315;
	line-height: 26px;
	-webkit-transition: background 0.4s ease-out;
	-moz-transition: background 0.4s ease-out;
	-o-transition: background 0.4s ease-out;
	-ms-transition: background 0.4s ease-out;
	transition: background 0.4s ease-out;
}
.show_all:hover{background:#b10621;color:#fff;border-color:#b10621;}
.close_div
{
	background: #730315;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    padding: 13px 31px;
    border-radius: 0px;
	border-color:#730315;
	-webkit-transition: background 0.4s ease-out;
	-moz-transition: background 0.4s ease-out;
	-o-transition: background 0.4s ease-out;
	-ms-transition: background 0.4s ease-out;
	transition: background 0.4s ease-out;
}
.close_div:hover{background:#b10621;color:#fff;border-color:#b10621;}
#main-menu-id
{
	position: fixed;
    top: 0;
	background: #19242f!important;
    z-index: 1!important;
    width: 100%;
}
.fixed {
    position: fixed;
    top: 0;
	background: #19242f!important;
    z-index: 1!important;
    width: 100%;
}
.partial-fixed
{
	position: fixed!important;
    top:92px;
	z-index: 1;
	bottom: unset!important;
	left: 0px;
    right: 0px;
    background: #fff!important;
    width: 100%;
	padding: 8px 90px 8px 94px!important;
}

.partial-fixed2
{
	position: fixed!important;
    top:92px;
	z-index: 1;
	bottom: unset!important;
	left: 0px;
    right: 0px;
    background: #fff!important;
    width: 100%;
}
#slideshow {
    position:relative;
    height:350px;
    z-index:-1;
}
  
#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}
  
#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
	height: 90%;
}
  
#slideshow IMG.last-active {
    z-index:9;
	height: 90%;
}
  
#slideshow img {
    /* Set rules to fill background */
	
    min-height: 100%;
    min-width: 100%;
  
    /* Set up proportionate scaling */
    width: 100%;
    height: 90%;
  
    /* Set up positioning */
    /*position: fixed;*/
    top: 0;
    left: 0;
}
  
@media screen and (max-width: 1024px){
    img.bg {
    left: 50%;
    margin-left: -512px;
}
}
.search-btn
{
	border-radius:0px;
	background:#730315;
	border-color:#730315;
	padding:13px 19px;
	-webkit-transition: background 0.4s ease-out;
	-moz-transition: background 0.4s ease-out;
	-o-transition: background 0.4s ease-out;
	-ms-transition: background 0.4s ease-out;
	transition: background 0.4s ease-out;
}
.search-btn:hover
{
	border-radius:0px;
	background:#ae0522;
	border-color:#ae0522!important;
}
#search
{
	border-radius: 0px;
    height: 3.4em;
	border:none;
}
#form-col
{
	background:rgba(105, 105, 105, .5);
    padding: 8px 0px 8px 0px;
    position: relative;
    bottom: 3em;
    margin:0;
}
#form-col2 {
    background:#fff;
    padding: 8px 0px 8px 0px;
    margin: 0;
}
.search-icon
{
	background: #fff;
    border-radius:0px!important;
    color: #dadada;
	font-size: 30px;
    border-radius: 0px;
}
.offer-cols{padding:8px;}

 

.thumbnail1 img {
	height:230px;width:100%;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.thumbnail1 img:hover {
    opacity: 0.8;
    filter: alpha(opacity=40); /* msie */
}


.thumbnail1 {
    
    filter: alpha(opacity=40); /* msie */
    
}

.img-div img
{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img-div img:hover
{
	opacity: 0.8;
    filter: alpha(opacity=40); /* msie */
}
.img-div {
    
    filter: alpha(opacity=40); /* msie */  
}

.down-arrow{
    right: 14px;
    top: 4px;
    font-size: 16px;
    float: right;
}
.detail-menu
{
	background: #151d21;
    width: 100%;
}
.detail-menu li a
{
	color:#fff!important;
}
.three-lines
{
	border:none;
	position: relative;
    left: 2%;
}
#hidden-logo{padding-right:0px;}
.generic-content
{
	font-weight: 300;
    text-align: center;
    color: #999;
    font-size: 19px;
    max-width: 69%;
    width: auto;
    margin: auto;
    line-height: 26px;
}
.first-row-div{background:#fff;}
.c-awardsBobs__container
{
	padding:13px 0px;
}
.c-awardsBobs__container h3
{
	font-size: 12px;
    color: #252e39;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
}
.c-awardsBobs__container p
{
	font-size: 21px;
    color: #252e39;
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
}
.img-slider{padding:0;}
@media (min-width: 992px)
{
	.img-slider
	{
		margin:0;
	}
}
.basic-info
{
	padding:14px 0px;
	border-bottom: 1px solid #f1eded;
}
.basic-info a{text-decoration:none;}
.special-row{padding-top:4%;}
.extra-row{padding-bottom:6.9%;}
.hotel-title-destination, .hotel-pricing-label
{
	font-style:normal;
	font-weight:300;
	font-size:15px;
	line-height:25px;
	color:#999999;
}
.imgs-div{padding:0;border-top:1px solid #740316;}
.text-div
{
	border-top:1px solid #740316;
	background:#fff;
}
.hotel-title-hotelname, .hotel-pricing-rate
{
	font-size: 20px;
    color: #333333;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
}
.style, .setting
{
	font-size: 14px;
    color: #999999;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
}
.view
{
	background:#1a8755;
    padding: 15px 73px;
    line-height: 21px;
	cursor:pointer;
	color:#ffffff;
    font-size: 15px;
	-webkit-transition: background 0.4s ease-out;
	-moz-transition: background 0.4s ease-out;
	-o-transition: background 0.4s ease-out;
	-ms-transition: background 0.4s ease-out;
	transition: background 0.4s ease-out;
}
.view:hover
{
	background:#24bd77;
}
.quick
{
	color: #666666;
    font-size: 12px;
    text-transform: uppercase;
    padding: 20px 90px;
    border-top:1px solid #f1eded;
    line-height: 0px;
	cursor: pointer;
}
.city, .country{text-transform:uppercase;}
.quick-row{padding: 0px 6% 16px;margin:0;}
.offers-heading
{
	color: #b20522;
    line-height: 29px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    font-style: normal;
}
.offers li
{
	color:#ff5a00;
	padding: 7px 0px;
}
.highlights-heading
{
	line-height: 24px;
    font-size: 17px;
	font-weight: 600;
}
.highlights li
{
	color:#333333;
}
#favrooms, #location
{
    text-transform: uppercase;
    font-size: 14px;
	font-weight: 600;
}
.location
{
	text-decoration: none;
    color: #b20522;
}
.location:hover
{
	text-decoration: none;
    color: #b20522;
}
.quick-row{display:none;}
.page-title{
	line-height: 48px;
    font-size: 20px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
	padding: 30px;
	letter-spacing: 1px;
}
.filters-div{text-align:center;}
.filters{font-size:0;}
.filters li 
{
	list-style:none;
	display: inline;
	font-size: 17px;
    line-height: 48px;
    font-weight: 400;
	padding: 15px 60px;
	background: #fff;
	cursor: pointer;
}
.filters li:hover 
{
	background: #242E36;
	color:#fff;
}
.filters .selected{background:#242E36;color:#fff;cursor:auto;}
#hotels-filter
{
	border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 29px;
}
#villas-filter
{
	border:1px solid #dcdcdc;
}
#explore-filter
{
	border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 29px;
}
.hide_state{display:none;}
.small-menu{background:#242E36!important;border-radius: 0px;
	padding: 8px 0px;}
#inner-icon
{
	font-size: 22px;
}
#myNavbar3 li{padding: 0px 40px;}
#myNavbar3 .active a{background:#2A343F;padding:20px 40px;}
.one-pager{background:#242E36;border-radius:0px;}


#myNavbar3 li.active {
    position: relative;
}

#myNavbar3 li.active a:after {
  top: 42px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
  transform: rotate(178deg);
} 
.facilities-row
{
	padding: 22px 0px;
}
.facilities-row p
{
	color:#333333;
	font-size: 20px;
	line-height:24px;
	font-style:normal;
	font-weight:300;
	padding: 20px 0px; 
}
.facilities-row ul li
{
	list-style:none;
	display:inline;
}
.facilities-row ul li a
{
	text-decoration:none;
	color: #740316;
    background-color: #FFF;
    border: 1px solid #740316;
	padding: 8px 20px;
	border-radius: 3px;
}
.facilities-row ul li a:hover
{
	color:#fff;
	background:#740316;
}
.filters-row select
{
	background: #242E36;
    color: #fff;
    /* text-shadow: 0 1px 0 rgba(0,0,0,0.4); */
    height: 40px;
    padding: 0px 20px;
}

.filters-row #sort_type_num
{
	float:right;
}
.filters-col{padding: 0% 7%;}
#overview,#offers{padding: 30px 0px;}

#extra-text{background: #fff;padding:12px 9px;}
.extra-heading{color:#740316;font-weight:bold;font-size:16px;}
.highlights-div{font-size:16px;color:#333;}
#offers{color:#333;font-size:16px;}
#offers a{text-decoration:none;}
#listing-search-btn{position:relative;right: 31px;}
.price-banner
{
	float: right;
    position: relative;
    bottom: 2em;
    right: 4em;
    font-size: 35px;
    color: #fff;
    background: rgba(105, 105, 105, .5);
    padding: 4px 40px;
}
.name_banner
{
	position: relative;
    bottom: 2em;
	left: 2em;
    font-size: 35px;
    color: #fff;
    padding: 0px 40px;
}
.first-row
{
	margin: 0px;
}
.new_fixed
{
	position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
}
.sticky
{
	position:fixed;
	top:60px;
	width:100%;
	z-index:100000!important;
}